{{/* Override of person widget with editorial_roles */}}
{{ $person := . }}

{{ if $person.Params.name }}
  <h2>{{ $person.Params.name }}</h2>
{{ end }}

{{ if $person.Params.role }}
  <div class="article-metadata">{{ $person.Params.role }}</div>
{{ end }}

{{ if $person.Params.bio }}
  <p>{{ $person.Params.bio | markdownify }}</p>
{{ end }}

{{ with $person.Params.interests }}
  <h3>Research Interests</h3>
  <ul class="ul-interests">
    {{ range . }}
      <li>{{ . }}</li>
    {{ end }}
  </ul>
{{ end }}

{{ with $person.Params.editorial_roles }}
  <h3>Editorial Service</h3>
  <ul class="ul-interests">
    {{ range . }}
      <li>{{ . | markdownify }}</li>
    {{ end }}
  </ul>
{{ end }}

{{ with $person.Params.education }}
  <h3>Education</h3>
  <ul class="ul-edu fa-ul">
    {{ range . }}
      <li><i class="fa-li fas fa-graduation-cap"></i>{{ . }}</li>
    {{ end }}
  </ul>
{{ end }}

{{ .Content }}